

<ion-content #content [fullscreen]="true">
  <div class="hero" [style.background-image]="'url(assets/images/rhino4.jpg)'">
    <!-- <img src="assets/images/rhino3.jpg" alt="rhino" class="hero-image"> -->

    <div class="logo-nav-container">
      <img src="assets/images/logo-no-background.png" alt="Tusk Byte Logo" class="logo-image">
      <ion-buttons slot="end" class="nav-buttons">
        <ion-button routerLink="/" href="#">Home</ion-button>
        <ion-button routerLink="/team" href="#">Team</ion-button>
        <ion-button routerLink="/partners" href="#">Partners</ion-button>
        <ion-button routerLink="/portfolio" href="#">Portfolio</ion-button>
        <ion-button style="--color: grey" routerLink="/contact" href="#">Contact</ion-button>
      </ion-buttons>
    </div>

    <div class="hero-text">

      <h1>CONTACT</h1>
      <!-- <p>A family office focused on providing capital and operational expertise to support and build meaningful & profitable businesses and real estate development</p> -->
    </div>
  </div>

  <div class="arrow-down" [class.hidden]="isArrowHidden">
    <img src="assets/images/arrow-down-white.png" class="arrow-down-image" (click)="scroll(content)">
  </div>

  <div class="about">
    <h2>HEADQUARTERS</h2>
    <div style="padding-left: 10%; padding-right: 10%;">
    <p>500 North Marketplace Drive
      Suite 250</p>
    <p>Centerville, UT 84014</p>
    <p>Phone: 801-809-6187</p>
  </div>
    <!-- <div class="buttons">
      <ion-button>Team</ion-button>
      <ion-button>Partners</ion-button>
      <ion-button>Portfolio</ion-button>
    </div> -->

    <div class="contact-container">
      <div class="contact-info">
        <h1 style="text-align: left;">Contact Us</h1>
        <p style="text-align: left">We would love to meet you! Ridgeline Capital Group is focused on fostering relationships with talented individuals. Please provide your contact information on the form provided if you are interested in meeting with the Ridgeline Capital Group team.</p>
      </div>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Name (required)</label>
          <div class="name-fields">
            <input type="text" formControlName="firstName" placeholder="First Name" required>
            <input type="text" formControlName="lastName" placeholder="Last Name" required>
          </div>

        </div>
        <div class="form-group">
          <label>Email Address (required)</label>
          <input type="email" formControlName="email" placeholder="Email Address" required>
        </div>
        <div class="form-group">
          <label>Subject (required)</label>
          <input type="text" formControlName="subject" placeholder="Subject" required>
        </div>
        <div class="form-group">
          <label>Message (required)</label>
          <textarea formControlName="message" placeholder="Message" required></textarea>
        </div>
        <ion-button class="submitButton" type="submit" [disabled]="!contactForm.valid">Submit</ion-button>
      </form>
    </div>

  </div>

  <div class="footer">
    <ion-title>TuskByte Innovations, LLC</ion-title>
    <div class="footer-content">
      <p>500 N Marketplace Drive</p>
      <p>Suite 200</p>
        <p>Centerville UT, 84014</p>
      <p>801-809-6187</p>
    </div>
  </div>
</ion-content>


